
    <div style="font-family:Arial">
        <h2>@ViewBag.Title</h2>

        <ol>
            @foreach (string features in ViewBag.Message)
            {
                <li>@features</li>
            }
        </ol>
    </div>