@{
    ViewBag.Title = "Contact";
}
    <div style="font-family:Arial">
        <h2>@ViewBag.Title.</h2>
        <h3>@ViewBag.Message</h3>

        <address>
            Karan Kumar Aneja R<br />
            B.E, Bangalore<br />
            <abbr title="Phone">P:</abbr>
            +91-9980672016

        </address>

        <address>
            <strong>Support:</strong>   <a href="mailto:karananeja.r@gmail.com">karananeja.r@gmail.com</a><br />
            <strong>Marketing:</strong> <a href="mailto:karananeja.coc@gmail.com">karananeja.coc@gmail.com</a>
        </address>
    </div>