@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Who are we?</h2>
        <p>
            We at Karan Tuitions take immense pride to teach the young generation of this nation with courage and honour.
            We teach Students right from their Middle High School level to their intermediate High School/Pre-University College level.
            We have three modes of teaching:
                 <ul>
                    <li>Group tuitions</li>
                    <li>Private tuitions</li>
                    <li>Online tuitions</li>
                 </ul>
        </p>
        <p><a class="btn btn-default" href="https://www.karantuitions.com">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Testimonials of our Students</h2>
        <h3>
            Bhumika
        </h3>
        <p>
            I like my tuition and my tuition teacher. Sir made my studies easier and helped me out in science and maths.
            Sir explains the concept in a very easy way and clears my all the doubts. 
            Our teacher is the best example of a perfect teacher😇❤.
        </p>
        <h3>
            Swati
        </h3>
        <p>
            Our teacher teaches in a amiable way , so that we can understand faster. 
            Everyone interact with each other and clarify their doubts and opinions. 
            The subject which I felt difficult was Maths which became easier day by day.
            We all enjoy, interact and learn all things in our tuition.
        </p>
        <h3>
            Sinchana
        </h3>
        <p>
            He is a good person. Like his way of teaching in a joyful manner. 
            He is strict but not all the time. 
            Liked his different types of punishment. 
            Good person by heart, but still had many conflicts with him, but never took it seriously.
        </p>

        <p><a class="btn btn-default" href="https://www.karantuitions.com">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>