@model MVC1.Models.Detail

@{
    ViewBag.Title = "Details";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <title>Details</title>
</head>
<body>
    <div> 
        <table style="font-family:Arial">
            <tr>
                <td>
                    <b>01 : </b>
                </td>
                <td>
                    @Model.features2
                </td>
            </tr>
            <tr>
                <td>
                    <b>02 : </b>
                </td>
                <td>
                    @Model.features1
                </td>
            </tr>
            <tr>
                <td>
                    <b>03 : </b>
                </td>
                <td>
                    @Model.features3
                </td>
            </tr>
            <tr>
                <td>
                    <b>04 : </b>
                </td>
                <td>
                    @Model.features4
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
